<% if @journal.errors.present? %>
  <p>
    <% @journal.errors.full_messages.each do |e| %>
      <%= e %>
    <% end %>
  </p>
<% end %>

<%= form_with(model: @journal, class: 'mt-3') do |f| %>
  <div class="row mb-3">
    <%= f.label :title, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :content, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.rich_text_area :content %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :date, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= f.date_field :date, class: 'form-control', max: Date.current %>
    </div>
  </div>
  <%= f.submit 'Save entry', class: 'btn btn-primary' %>
<% end %>