<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <div class="pb-4 mb-4 border-bottom">
        <%= render 'journals/form' %>
      </div>
      <% @journals.each do |journal| %>
        <article class="blog-post border-bottom">
          <h2 class="blog-post-title"><%= journal.title %></h2>
          <p class="blog-post-meta"><%= journal.date.strftime('%b %d, %Y') %></p>

          <%= journal.content %>

          <%= link_to 'Edit', edit_journal_path(journal) %>
          <%= link_to 'Delete', journal_path(journal), data: { 'turbo-method': :delete } %>

        </article>
      <% end %>


      <nav class="blog-pagination" aria-label="Pagination">
        <% if @pagy.pages > 1 %>
          <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
        <% end %>
      </nav>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>